body{
    background-color: black;
    color: white;
    display: grid;
    grid-template-columns: auto 800px auto;
}

#mainTitle{
grid-row-start: 1;
grid-column-start: 2;
text-align: center      ;
}

#door1{
    width: 48px;
    height: 48px;
    left: 125px;
    top: 435px;

}

#door2{
    width: 48px;
    height: 48px;
    left: 637px;
    top: 388px;

}

#door3{
    width: 48px;
    height: 48px;
    left: 300px;
    top: 240px;

}

#tree{
    width: 48px;
    height: 48px;
    left: 640px;
    top: 194px;
}



#gameWindow{
 width: 800px;
 height: 608px;
 background-color: blue;
 grid-row-start: 2;
 grid-column-start: 2;
 position: relative;
}

/* dialogue bar*/

#dialogueBar{
    bottom: 0px;
    left: 0px;
    width: 800px;
    height: 64px;
}

.dialogueContent{
    position: relative;
}

#mainCharacterSpeech{
    top: 0px;
    left: 80px;
}

.speechBubble{
    background: rgba(245, 110, 110, 0.8);
    border-radius: 60px;
    color: black;
    padding: 5px 5px 5px 20px;
    font-size: 12px;
    opacity: 0;
    width: 300px;
    transition: all 1s ease-in-out;
}

#brownBar{
    background-color: rgb(97, 52, 0);

    width: 800px;
    height: 32px;
    bottom: 0px;
}

#mainCharacter{
    left: 380px;
    top: 320px;
}

#counterCharacter {
    top: 0px;
    right: 10px;
    opacity: 0;
    transition: all 1s ease-in-out;
}

#counterSpeech {
    right: 80px;
    top: 0px;
}

.gameObject{
    position: absolute;
    /*background-color: white;*/
    transition: 1000ms;
}

.foreGround{
    z-index: 1000;
}

.gameCharacter{
    z-index: 100;
}

.backGround{
    z-index: 0;
}